SERVER NODE RED
[{"id":"9415e8ec.268928","type":"tab","label":"สถานี","disabled":false,"info":""},{"id":"9aa17d60.c8046","type":"tab","label":"รายการขาย","disabled":false,"info":""},{"id":"e249beb.f5f914","type":"sqlitedb","z":"","db":"db_nonpos04012564.db","mode":"RWC"},{"id":"b0ac37d7.f49b78","type":"ui_tab","z":"","name":"สถานี","icon":"dashboard","disabled":false,"hidden":false},{"id":"54ee284.1f860d8","type":"ui_group","z":"","name":"ค้นหา สถานี","tab":"b0ac37d7.f49b78","order":1,"disp":true,"width":"30","collapse":false},{"id":"9866ce00.aa193","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65b29fbd.90ad4","type":"ui_tab","z":"","name":"รายการขาย","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"74448f3a.333a6","type":"ui_group","z":"","name":"ค้นหารายการขาย","tab":"65b29fbd.90ad4","order":1,"disp":true,"width":"33","collapse":false},{"id":"1613587b.d50c88","type":"sqlite","z":"9415e8ec.268928","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":1090,"y":640,"wires":[["e6deb5a1.d54af8"]]},{"id":"7b972a38.f84f34","type":"inject","z":"9415e8ec.268928","name":"CREATE TABLE \"fcc_detail\"","topic":"CREATE TABLE  \"fcc_detail\" ( \"fcc_id\" TEXT NOT NULL,  \"fcc_station_name\"\tTEXT NOT NULL,  \"fcc_station_code\"\tTEXT NOT NULL,  \"fcc_tid\"\tTEXT NOT NULL,  \"fcc_sid\"\tTEXT NOT NULL,  \"fcc_ip\"\tTEXT NOT NULL,  \"fcc_pump\"\tTEXT NOT NULL,  \"fcc_channal\"\tTEXT NOT NULL,  \"fcc_nozzle\"\tTEXT NOT NULL,  \"fcc_oil\"\tTEXT NOT NULL,  \"fcc_pump_series\" TEXT NOT NULL );","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":700,"wires":[["1613587b.d50c88"]]},{"id":"4fc6caa1.91ac64","type":"inject","z":"9415e8ec.268928","name":"INSERT INTO fcc_detail","topic":"INSERT INTO fcc_detail (fcc_id,fcc_station_name,fcc_station_code,fcc_tid,fcc_sid,fcc_ip,fcc_pump,fcc_channal,fcc_nozzle,fcc_oil,fcc_pump_series) VALUES  (\"840d8e3a1324\",\"ลำปาง 4\",\"_442\",\"IN190319\",\"01130416\",\"10.52.7.131\",\"1\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1324\",\"ลำปาง 4\",\"_442\",\"IN190319\",\"01130416\",\"10.52.7.131\",\"1\",\"2\",\"1\",\"B20\",\"TATSUNO-G2\"), (\"807d3ad2686c\",\"ลำปาง 4\",\"_442\",\"IN190320\",\"01130416\",\"10.52.7.132\",\"2\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad2686c\",\"ลำปาง 4\",\"_442\",\"IN190320\",\"01130416\",\"10.52.7.132\",\"2\",\"2\",\"1\",\"B20\",\"TATSUNO-G2\"), (\"840d8e3a193c\",\"ลำปาง 4\",\"_442\",\"IN190321\",\"01130416\",\"10.52.7.133\",\"3\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e3a193c\",\"ลำปาง 4\",\"_442\",\"IN190321\",\"01130416\",\"10.52.7.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf041ecc\",\"ลำปาง 4\",\"_442\",\"IN190322\",\"01130416\",\"10.52.7.134\",\"4\",\"1\",\"1\",\"E20\",\"TATSUNO-G2\"), (\"3c71bf041ecc\",\"ลำปาง 4\",\"_442\",\"IN190322\",\"01130416\",\"10.52.7.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a18e4\",\"สบปราบ\",\"_695\",\"IN190323\",\"01130473\",\"10.52.5.131\",\"1\",\"1\",\"1\",\"E20\",\"TATSUNO-G2\"), (\"840d8e3a18e4\",\"สบปราบ\",\"_695\",\"IN190323\",\"01130473\",\"10.52.5.131\",\"1\",\"2\",\"1\",\"E20\",\"TATSUNO-G2\"), (\"840d8e3a2094\",\"สบปราบ\",\"_695\",\"IN190324\",\"01130473\",\"10.52.5.132\",\"2\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e3a2094\",\"สบปราบ\",\"_695\",\"IN190324\",\"01130473\",\"10.52.5.132\",\"2\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e39b384\",\"สบปราบ\",\"_695\",\"IN190325\",\"01130473\",\"10.52.5.133\",\"3\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e39b384\",\"สบปราบ\",\"_695\",\"IN190325\",\"01130473\",\"10.52.5.133\",\"3\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e3a1b5c\",\"สบปราบ\",\"_695\",\"IN190326\",\"01130473\",\"10.52.5.134\",\"4\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1b5c\",\"สบปราบ\",\"_695\",\"IN190326\",\"01130473\",\"10.52.5.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf041cf8\",\"สบปราบ\",\"_695\",\"IN190327\",\"01130473\",\"10.52.5.135\",\"5\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf041cf8\",\"สบปราบ\",\"_695\",\"IN190327\",\"01130473\",\"10.52.5.135\",\"5\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1c18\",\"สบปราบ\",\"_695\",\"IN190328\",\"01130473\",\"10.52.5.136\",\"6\",\"1\",\"1\",\"B20\",\"TATSUNO-G2\"), (\"840d8e3a1c18\",\"สบปราบ\",\"_695\",\"IN190328\",\"01130473\",\"10.52.5.136\",\"6\",\"2\",\"1\",\"B20\",\"TATSUNO-G2\"), (\"840d8e3909f8\",\"แม่ทะ\",\"_085\",\"IN190329\",\"01140143\",\"10.52.10.131\",\"1\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3909f8\",\"แม่ทะ\",\"_085\",\"IN190329\",\"01140143\",\"10.52.10.131\",\"1\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a138c\",\"แม่ทะ\",\"_085\",\"IN190330\",\"01140143\",\"10.52.10.132\",\"2\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e3a138c\",\"แม่ทะ\",\"_085\",\"IN190330\",\"01140143\",\"10.52.10.132\",\"2\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e3a122c\",\"แม่ทะ\",\"_085\",\"IN190331\",\"01140143\",\"10.52.10.133\",\"3\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a122c\",\"แม่ทะ\",\"_085\",\"IN190331\",\"01140143\",\"10.52.10.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a077c\",\"แม่ทะ\",\"_085\",\"IN190332\",\"01140143\",\"10.52.10.134\",\"4\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e3a077c\",\"แม่ทะ\",\"_085\",\"IN190332\",\"01140143\",\"10.52.10.134\",\"4\",\"2\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"b4e62dc78151\",\"แม่ฮ่องสอน\",\"_635\",\"IN190333\",\"01130388\",\"10.44.1.131\",\"1\",\"1\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"b4e62dc78151\",\"แม่ฮ่องสอน\",\"_635\",\"IN190333\",\"01130388\",\"10.44.1.131\",\"1\",\"2\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"840d8e3a1ed0\",\"แม่ฮ่องสอน\",\"_635\",\"IN190334\",\"01130388\",\"10.44.1.132\",\"2\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e3a1ed0\",\"แม่ฮ่องสอน\",\"_635\",\"IN190334\",\"01130388\",\"10.44.1.132\",\"2\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"3c71bf04b900\",\"แม่ฮ่องสอน\",\"_635\",\"IN190335\",\"01130388\",\"10.44.1.133\",\"3\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf04b900\",\"แม่ฮ่องสอน\",\"_635\",\"IN190335\",\"01130388\",\"10.44.1.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1cb8\",\"แม่ฮ่องสอน\",\"_635\",\"IN190336\",\"01130388\",\"10.44.1.134\",\"4\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1cb8\",\"แม่ฮ่องสอน\",\"_635\",\"IN190336\",\"01130388\",\"10.44.1.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf041e1c\",\"ร้องกวาง\",\"_93B\",\"IN190337\",\"01150137\",\"10.40.13.131\",\"1\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"3c71bf041e1c\",\"ร้องกวาง\",\"_93B\",\"IN190337\",\"01150137\",\"10.40.13.131\",\"1\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"3c71bf041e28\",\"ร้องกวาง\",\"_93B\",\"IN190338\",\"01150137\",\"10.40.13.132\",\"2\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"3c71bf041e28\",\"ร้องกวาง\",\"_93B\",\"IN190338\",\"01150137\",\"10.40.13.132\",\"2\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"b4e62dc780a1\",\"ร้องกวาง\",\"_93B\",\"IN190339\",\"01150137\",\"10.40.13.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"b4e62dc780a1\",\"ร้องกวาง\",\"_93B\",\"IN190339\",\"01150137\",\"10.40.13.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26a48\",\"แพร่\",\"_604\",\"IN190340\",\"01130360\",\"10.40.1.131\",\"1\",\"1\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"807d3ad26a48\",\"แพร่\",\"_604\",\"IN190340\",\"01130360\",\"10.40.1.131\",\"1\",\"2\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"807d3ad2688c\",\"แพร่\",\"_604\",\"IN190341\",\"01130360\",\"10.40.1.132\",\"2\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad2688c\",\"แพร่\",\"_604\",\"IN190341\",\"01130360\",\"10.40.1.132\",\"2\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e2d9380\",\"แพร่\",\"_604\",\"IN190342\",\"01130360\",\"10.40.1.133\",\"3\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e2d9380\",\"แพร่\",\"_604\",\"IN190342\",\"01130360\",\"10.40.1.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26bb8\",\"แพร่\",\"_604\",\"IN190343\",\"01130360\",\"10.40.1.134\",\"4\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad26bb8\",\"แพร่\",\"_604\",\"IN190343\",\"01130360\",\"10.40.1.134\",\"4\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"3c71bf04e420\",\"ทองแสนขัน 2\",\"_55E\",\"IN190344\",\"01170072\",\"10.74.15.131\",\"1\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"3c71bf04e420\",\"ทองแสนขัน 2\",\"_55E\",\"IN190344\",\"01170072\",\"10.74.15.131\",\"1\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad26c08\",\"ทองแสนขัน 2\",\"_55E\",\"IN190345\",\"01170072\",\"10.74.15.132\",\"2\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"807d3ad26c08\",\"ทองแสนขัน 2\",\"_55E\",\"IN190345\",\"01170072\",\"10.74.15.132\",\"2\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e39b20c\",\"ทองแสนขัน 2\",\"_55E\",\"IN190346\",\"01170072\",\"10.74.15.133\",\"3\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e39b20c\",\"ทองแสนขัน 2\",\"_55E\",\"IN190346\",\"01170072\",\"10.74.15.133\",\"3\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26b7c\",\"ทองแสนขัน 2\",\"_55E\",\"IN190347\",\"01170072\",\"10.74.15.134\",\"4\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26b7c\",\"ทองแสนขัน 2\",\"_55E\",\"IN190347\",\"01170072\",\"10.74.15.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"b4e62dc4e7e5\",\"บางสะพาน\",\"_146\",\"IN190348\",\"01130245\",\"10.29.7.131\",\"1\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"b4e62dc4e7e5\",\"บางสะพาน\",\"_146\",\"IN190348\",\"01130245\",\"10.29.7.131\",\"1\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e3a1c78\",\"บางสะพาน\",\"_146\",\"IN190349\",\"01130245\",\"10.29.7.132\",\"2\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1c78\",\"บางสะพาน\",\"_146\",\"IN190349\",\"01130245\",\"10.29.7.132\",\"2\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1200\",\"บางสะพาน\",\"_146\",\"IN190350\",\"01130245\",\"10.29.7.133\",\"3\",\"1\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"840d8e3a1200\",\"บางสะพาน\",\"_146\",\"IN190350\",\"01130245\",\"10.29.7.133\",\"3\",\"2\",\"1\",\"ULG95\",\"TATSUNO-G2\"), (\"840d8e3a1efc\",\"บางสะพาน\",\"_146\",\"IN190351\",\"01130245\",\"10.29.7.134\",\"4\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1efc\",\"บางสะพาน\",\"_146\",\"IN190351\",\"01130245\",\"10.29.7.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"b4e62dc4ebc5\",\"บางสะพาน\",\"_146\",\"IN190352\",\"01130245\",\"10.29.7.135\",\"5\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"b4e62dc4ebc5\",\"บางสะพาน\",\"_146\",\"IN190352\",\"01130245\",\"10.29.7.135\",\"5\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"840d8e3a1354\",\"บางสะพาน\",\"_146\",\"IN190353\",\"01130245\",\"10.29.7.136\",\"6\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e3a1354\",\"บางสะพาน\",\"_146\",\"IN190353\",\"01130245\",\"10.29.7.136\",\"6\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"840d8e39bd3c\",\"บางสะพาน\",\"_146\",\"IN190354\",\"01130245\",\"10.29.7.137\",\"7\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"840d8e39bd3c\",\"บางสะพาน\",\"_146\",\"IN190354\",\"01130245\",\"10.29.7.137\",\"7\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"3c71bf04b92c\",\"บางสะพาน\",\"_146\",\"IN190355\",\"01130245\",\"10.29.7.138\",\"8\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"3c71bf04b92c\",\"บางสะพาน\",\"_146\",\"IN190355\",\"01130245\",\"10.29.7.138\",\"8\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26f68\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190356\",\"01180061\",\"10.12.19.131\",\"1\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad26f68\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190356\",\"01180061\",\"10.12.19.131\",\"1\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad26f04\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190357\",\"01180061\",\"10.12.19.132\",\"2\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26f04\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190357\",\"01180061\",\"10.12.19.132\",\"2\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26970\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190358\",\"01180061\",\"10.12.19.133\",\"3\",\"1\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"807d3ad26970\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190358\",\"01180061\",\"10.12.19.133\",\"3\",\"2\",\"1\",\"G91\",\"TATSUNO-G2\"), (\"807d3ad26db4\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190359\",\"01180061\",\"10.12.19.134\",\"4\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad26db4\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190359\",\"01180061\",\"10.12.19.134\",\"4\",\"2\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad267b8\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190360\",\"01180061\",\"10.12.19.135\",\"5\",\"1\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad267b8\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190360\",\"01180061\",\"10.12.19.135\",\"5\",\"2\",\"1\",\"G95\",\"TATSUNO-G2\"), (\"807d3ad269a0\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190361\",\"01180061\",\"10.12.19.136\",\"6\",\"1\",\"1\",\"D\",\"TATSUNO-G2\"), (\"807d3ad269a0\",\"ชุมพร 5 (ปากน้ำ)\",\"_10I\",\"IN190361\",\"01180061\",\"10.12.19.136\",\"6\",\"2\",\"1\",\"D\",\"TATSUNO-G2\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["1613587b.d50c88"]]},{"id":"369f096d.28d5b6","type":"inject","z":"9415e8ec.268928","name":"DROP TABLE fcc_detail","topic":"DROP TABLE fcc_detail","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":780,"wires":[["1613587b.d50c88"]]},{"id":"e6deb5a1.d54af8","type":"ui_template","z":"9415e8ec.268928","group":"54ee284.1f860d8","name":"","order":1,"width":"30","height":"12","format":"<style>\n  html, body{\n    margin:0;\n    padding:0;\n    height:100%;\n  }\n  section {\n    position: relative;\n    border: 1px solid #000;\n    padding-top: 37px;\n    background: #100;\n  }\n  section.positioned {\n    position: absolute;\n    top:100px;\n    left:100px;\n    width:700px;\n    box-shadow: 0 0 15px #333;\n  }\n  .container {\n    overflow-y: auto;\n    height: 400px;\n  }\n  table {\n    border-spacing: 0;\n    width:100%;\n  }\n  td + td {\n    border-left:1px solid #eee;\n  }\n  td, th {\n    border-bottom:1px solid #eee;\n    background: #ddd;\n    color: #000;\n    padding: 10px 25px;\n  }\n  th {\n    height: 0;\n    line-height: 0;\n    padding-top: 0;\n    padding-bottom: 0;\n    color: transparent;\n    border: none;\n    white-space: nowrap;\n  }\n  th div{\n    /*position: absolute;*/\n    position: absolute;\n    background: transparent;\n    color: #fff;\n    padding: 9px 25px;\n    top: 0;\n    margin-left: -25px;\n    line-height: normal;\n    border-left: 1px solid #800;\n  }\n  th:first-child div{\n    border: none;\n  }\n</style>\n<html>\n<body>\n<div>\n<section class=\"\">\n  <div class=\"container\">\n    <table>\n      <thead>\n        <tr class=\"header\">\n          <th>\n            ลำดับที่\n            <div>ลำดับที่</div>\n          </th>\n          <th>\n            FCC ID\n            <div>FCC ID</div>\n          </th>\n          <th>\n            ชื่อสถานี\n            <div>ชื่อสถานี</div>\n          </th>\n          <th>\n            รหัสสถานี\n            <div>รหัสสถานี</div>\n          </th>\n          <th>\n            TID\n            <div>TID</div>\n          </th>\n          <th>\n            SID\n            <div>SID</div>\n          </th>\n          <th>\n            IP ADDRESS\n            <div>IP ADDRESS</div>\n          </th>\n          <th>\n            ตู้จ่าย\n            <div>ตู้จ่าย</div>\n          </th>\n          <th>\n            หน้าจ่าย\n            <div>หน้าจ่าย</div>\n          </th>\n          <th>\n            มือจ่าย\n            <div>มือจ่าย</div>\n          </th>\n          <th>\n            ชนิดน้ำมัน\n            <div>ชนิดน้ำมัน</div>\n          </th>\n          <th>\n            รุ่นตู้จ่าย\n            <div>รุ่นตู้จ่าย</div>\n          </th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr ng-repeat=\"row in msg.payload\">\n          <td><b ng-bind=\"$index+1\"></b></td>\n          <td ng-repeat=\"item in row\" >{{item}}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</section>\n</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":600,"wires":[[]]},{"id":"bb1945fd.a4b258","type":"ui_button","z":"9415e8ec.268928","name":"","group":"54ee284.1f860d8","order":2,"width":"5","height":"1","passthru":false,"label":"refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":110,"y":640,"wires":[["5c6969fe.c944a8"]]},{"id":"5c6969fe.c944a8","type":"function","z":"9415e8ec.268928","name":"SELECT * FROM fcc_detail","func":"var sql = \"\";\nvar outputs = [];\nsql = \"SELECT * FROM fcc_detail\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["1613587b.d50c88"]]},{"id":"b4470431.355498","type":"inject","z":"9415e8ec.268928","name":"","topic":"SELECT fcc_station_name FROM fcc_detail group by fcc_sid","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":560,"wires":[["3f91bcfc.9ea054"]]},{"id":"3f91bcfc.9ea054","type":"sqlite","z":"9415e8ec.268928","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":330,"y":560,"wires":[["d9de9872.137a58"]]},{"id":"871d9e2c.d300d","type":"ui_dropdown","z":"9415e8ec.268928","name":"","label":"เลือกสถานี","tooltip":"","place":"Select option","group":"54ee284.1f860d8","order":2,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":640,"y":560,"wires":[["d0a2ac6.f5fdd5"]]},{"id":"d9de9872.137a58","type":"change","z":"9415e8ec.268928","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"$.payload.fcc_station_name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["871d9e2c.d300d"]]},{"id":"d0a2ac6.f5fdd5","type":"function","z":"9415e8ec.268928","name":"SELECT * FROM fcc_detail","func":"var station_name = msg.payload;\nvar sql = \"\";\nvar outputs = [];\nsql = \"SELECT * FROM fcc_detail where fcc_station_name = '\"+station_name+\"'\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":840,"y":560,"wires":[["3d0ca587.c7fe3a"]]},{"id":"3d0ca587.c7fe3a","type":"sqlite","z":"9415e8ec.268928","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":1090,"y":560,"wires":[["e6deb5a1.d54af8"]]},{"id":"9d23c48f.ee16e8","type":"inject","z":"9aa17d60.c8046","name":"CREATE TABLE \"fcc_sales\"","topic":"CREATE TABLE \"fcc_sales\" (   \"fcc_sales_id\"  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,   \"fcc_sales_fcc_id\"  TEXT,    \"fcc_sales_tid\" TEXT,    \"fcc_sales_sid\" TEXT,    \"fcc_sales_channal\" TEXT,    \"fcc_sales_batch\"   TEXT,    \"fcc_sales_stan\"    TEXT,    \"fcc_sales_datestart\"   TEXT,    \"fcc_sales_timestart\"    TEXT,    \"fcc_sales_datestop\"   TEXT,    \"fcc_sales_timestop\"    TEXT,    \"fcc_sales_nozzle\"  TEXT,    \"fcc_sales_lite\"    TEXT,    \"fcc_sales_price\"   TEXT,    \"fcc_sales_amount\"  TEXT,    \"fcc_sales_total_v_before\"  TEXT,    \"fcc_sales_total_a_before\"  TEXT,    \"fcc_sales_total_v_after\"   TEXT,    \"fcc_sales_total_a_after\"   TEXT,    \"fcc_sales_tag\" TEXT,    \"fcc_sales_tag_type\"    TEXT,    \"fcc_sales_tag_server\"  TEXT,    \"fcc_sales_reftrans_id\" TEXT );","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["af6aeafc.423e98"]]},{"id":"af6aeafc.423e98","type":"sqlite","z":"9aa17d60.c8046","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":570,"y":220,"wires":[["7ca0c12f.cb59c"]]},{"id":"96a1b7.56583e48","type":"inject","z":"9aa17d60.c8046","name":"DROP TABLE fcc_sales","topic":"DROP TABLE fcc_sales","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["af6aeafc.423e98"]]},{"id":"72ea94a8.ad266c","type":"inject","z":"9aa17d60.c8046","name":"SELECT * FROM fcc_sales","topic":"SELECT * FROM fcc_sales","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":280,"wires":[["af6aeafc.423e98"]]},{"id":"5613760d.6de018","type":"http in","z":"9aa17d60.c8046","name":"http://10.2.140.131:1880/nopos/test","url":"/nopos/test","method":"post","upload":false,"swaggerDoc":"","x":180,"y":540,"wires":[["1179a048.17546","48beef1e.62da3"]]},{"id":"1179a048.17546","type":"function","z":"9aa17d60.c8046","name":"reteurn POST","func":"function todate(unixtime) {\n    var unixTimestamp = parseInt(unixtime,10) ;\n    var date = new Date(unixTimestamp);\n    var day = date.getDate();\n    var month = date.getMonth();\n    var year = date.getFullYear();\n    var hour = date.getHours();\n    var min = date.getMinutes();\n    var sec = date.getSeconds();\n    var fullDate = year + \"-\" +(month + 1) + \"-\" + day + \" \"+ hour + \":\" + min + \":\" + sec;\n    return fullDate;\n}\nmsg.payload = {\"Time\":todate(Date.now()),\"DATA\":\"SUCCESS\"}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["2b25e50c.77153a"]]},{"id":"2b25e50c.77153a","type":"http response","z":"9aa17d60.c8046","name":"","statusCode":"","headers":{},"x":790,"y":560,"wires":[]},{"id":"7ca0c12f.cb59c","type":"debug","z":"9aa17d60.c8046","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"f1116fdd.747f9","type":"sqlite","z":"9aa17d60.c8046","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":790,"y":500,"wires":[[]]},{"id":"48beef1e.62da3","type":"function","z":"9aa17d60.c8046","name":"INSERT INTO fcc_sales","func":"var fcc_sales_fcc_id = msg.payload.device_ID;\nvar fcc_sales_tid = msg.payload.tid;\nvar fcc_sales_sid = msg.payload.sid;\nvar fcc_sales_channal = msg.payload.channel;\nvar fcc_sales_batch = msg.payload.batch;\nvar fcc_sales_stan = msg.payload.stan;\nvar fcc_sales_datestart = msg.payload.u_start;\nvar fcc_sales_timestart = msg.payload.u_start;\nvar fcc_sales_datestop = msg.payload.u_finish;\nvar fcc_sales_timestop = msg.payload.u_finish;\nvar fcc_sales_nozzle = msg.payload.nozzle;\nvar fcc_sales_lite = msg.payload.lite;\nvar fcc_sales_price = msg.payload.price;\nvar fcc_sales_amount = msg.payload.amount;\nvar fcc_sales_total_v_before = msg.payload.bf_total_volume;\nvar fcc_sales_total_a_before = msg.payload.bf_total_amount;\nvar fcc_sales_total_v_after = msg.payload.total_volume;\nvar fcc_sales_total_a_after = msg.payload.total_amount;\nvar fcc_sales_tag = msg.payload.tagid;\nvar fcc_sales_tag_type = msg.payload.local_tag_type;\nvar fcc_sales_tag_server = msg.payload.server_tag_type;\nvar fcc_sales_reftrans_id = msg.payload.refTransID;\nvar sql = \"\";\nvar outputs = [];\nfunction todate(unixtime) {\n    var unixTimestamp = parseInt(unixtime,10) ;\n    var date = new Date(unixTimestamp);\n    var day = date.getDate();\n    var month = date.getMonth();\n    var year = date.getFullYear();\n    var hour = date.getHours();\n    var min = date.getMinutes();\n    var sec = date.getSeconds();\n    var fullDate = year + \"-\" +(month + 1) + \"-\" + day;\n    return fullDate;\n}\nfunction totime(unixtime) {\n    var unixTimestamp = parseInt(unixtime,10) ;\n    var date = new Date(unixTimestamp);\n    var day = date.getDate();\n    var month = date.getMonth();\n    var year = date.getFullYear();\n    var hour = date.getHours();\n    var min = date.getMinutes();\n    var sec = date.getSeconds();\n    var fullDate = hour + \":\" + min + \":\" + sec;\n    return fullDate;\n}\nsql = \"INSERT INTO fcc_sales (fcc_sales_fcc_id,fcc_sales_tid,fcc_sales_sid,fcc_sales_channal,fcc_sales_batch,fcc_sales_stan,fcc_sales_datestart,fcc_sales_timestart,fcc_sales_datestop,fcc_sales_timestop,fcc_sales_nozzle,fcc_sales_lite,fcc_sales_price,fcc_sales_amount,fcc_sales_total_v_before,fcc_sales_total_a_before,fcc_sales_total_v_after,fcc_sales_total_a_after,fcc_sales_tag,fcc_sales_tag_type,fcc_sales_tag_server,fcc_sales_reftrans_id) VALUES ('\"+fcc_sales_fcc_id+\"','\"+fcc_sales_tid+\"','\"+fcc_sales_sid+\"','\"+fcc_sales_channal+\"','\"+fcc_sales_batch+\"','\"+fcc_sales_stan+\"','\"+todate(fcc_sales_datestart)+\"','\"+totime(fcc_sales_timestart)+\"','\"+todate(fcc_sales_datestop)+\"','\"+totime(fcc_sales_timestop)+\"','\"+fcc_sales_nozzle+\"','\"+fcc_sales_lite+\"','\"+fcc_sales_price+\"','\"+fcc_sales_amount+\"','\"+fcc_sales_total_v_before+\"','\"+fcc_sales_total_a_before+\"','\"+fcc_sales_total_v_after+\"','\"+fcc_sales_total_a_after+\"','\"+fcc_sales_tag+\"','\"+fcc_sales_tag_type+\"','\"+fcc_sales_tag_server+\"','\"+fcc_sales_reftrans_id+\"')\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["f1116fdd.747f9"]]},{"id":"72cc30ba.85f6b","type":"ui_date_picker","z":"9aa17d60.c8046","name":"","label":"Date Start","group":"74448f3a.333a6","order":1,"width":"5","height":"1","passthru":true,"topic":"","x":80,"y":620,"wires":[["bd1c92ea.98591","1f6ccd62.2d3493"]]},{"id":"a80d4741.05ad08","type":"function","z":"9aa17d60.c8046","name":"SELECT fcc_sales_tid","func":"var Start_D = flow.get(\"Start_Date\");\nvar Station_N = flow.get(\"Station_name\");\nvar sql = \"\";\nvar outputs = [];\nsql = \"SELECT fcc_station_name,fcc_pump,fcc_sales_stan,fcc_sales_channal,fcc_sales_nozzle,fcc_sales_amount,fcc_sales_lite,fcc_sales_price,fcc_sales_timestart,fcc_sales_timestop ,fcc_sales_total_v_after,fcc_sales_total_a_after FROM fcc_sales LEFT JOIN fcc_detail ON fcc_sales.fcc_sales_tid = fcc_detail.fcc_tid WHERE fcc_station_name='\"+Station_N+\"' and fcc_sales_datestop = '\"+Start_D+\"' GROUP BY fcc_sales_id ORDER BY fcc_sales_id DESC\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":760,"y":780,"wires":[["b9067e20.4d3fd"]]},{"id":"b9067e20.4d3fd","type":"sqlite","z":"9aa17d60.c8046","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":990,"y":780,"wires":[["edfe8cbe.40308"]]},{"id":"edfe8cbe.40308","type":"ui_template","z":"9aa17d60.c8046","group":"74448f3a.333a6","name":"","order":4,"width":"0","height":"0","format":"<style>\n  html, body{\n    margin:0;\n    padding:0;\n    height:100%;\n  }\n  section {\n    position: relative;\n    border: 1px solid #000;\n    padding-top: 37px;\n    background: #100;\n  }\n  section.positioned {\n    position: absolute;\n    top:100px;\n    left:100px;\n    width:700px;\n    box-shadow: 0 0 15px #333;\n  }\n  .container {\n    overflow-y: auto;\n    height: 400px;\n  }\n  table {\n    border-spacing: 0;\n    width:100%;\n  }\n  td + td {\n    border-left:1px solid #eee;\n  }\n  td, th {\n    border-bottom:1px solid #eee;\n    background: #ddd;\n    color: #000;\n    padding: 10px 25px;\n  }\n  th {\n    height: 0;\n    line-height: 0;\n    padding-top: 0;\n    padding-bottom: 0;\n    color: transparent;\n    border: none;\n    white-space: nowrap;\n  }\n  th div{\n    /*position: absolute;*/\n    position: absolute;\n    background: transparent;\n    color: #fff;\n    padding: 9px 25px;\n    top: 0;\n    margin-left: -25px;\n    line-height: normal;\n    border-left: 1px solid #800;\n  }\n  th:first-child div{\n    border: none;\n  }\n</style>\n<html>\n<body>\n<div>\n<section class=\"\">\n  <div class=\"container\">\n    <table>\n      <thead>\n        <tr class=\"header\">\n          <th>\n            ลำดับที่\n            <div>ลำดับที่</div>\n          </th>\n          <th>\n            ชื่อสถานี\n            <div>ชื่อสถานี</div>\n          </th>\n          <th>\n            ตู้ที่\n            <div>ตู้ที่</div>\n          </th>\n          <th>\n            STAN\n            <div>STAN</div>\n          </th>\n          <th>\n            หน้าจ่าย\n            <div>หน้าจ่าย</div>\n          </th>\n          <th>\n            มือจ่าย\n            <div>มือจ่าย</div>\n          </th>\n          <th>\n            จำนวนบาท\n            <div>จำนวนบาท</div>\n          </th>\n          <th>\n            จำนวนลิตร\n            <div>จำนวนลิตร</div>\n          </th>\n          <th>\n            ราค่า/ลิตร\n            <div>ราค่า/ลิตร</div>\n          </th>\n          <th>\n            เวลายกหัวจ่าย\n            <div>เวลายกหัวจ่าย</div>\n          </th>\n          <th>\n            เวลาวางหัวจ่าย\n            <div>เวลาวางหัวจ่าย</div>\n          </th>\n          <th>\n            เลขรวมลิตร(หลังเติม)\n            <div>เลขรวมลิตร(หลังเติม)</div>\n          </th>\n          <th>\n            เลขรวมบาท(หลังเติม)\n            <div>เลขรวมบาท(หลังเติม)</div>\n          </th>\n         \n        </tr>\n      </thead>\n      <tbody>\n        <tr ng-repeat=\"row in msg.payload\">\n          <td><b ng-bind=\"$index+1\"></b></td>\n          <td ng-repeat=\"item in row\" >{{item}}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</section>\n</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1140,"y":780,"wires":[[]]},{"id":"bd1c92ea.98591","type":"function","z":"9aa17d60.c8046","name":"flow set Start_Date","func":"function todate(unixtime) {\n    var unixTimestamp = parseInt(unixtime,10) ;\n    var date = new Date(unixTimestamp);\n    var day = date.getDate();\n    var month = date.getMonth();\n    var year = date.getFullYear();\n    var fullDate = year + \"-\" +(month + 1) + \"-\" + day;\n    return fullDate;\n}\nflow.get(\"Start_Date\");\nflow.set(\"Start_Date\",todate(msg.payload));","outputs":1,"noerr":0,"x":280,"y":600,"wires":[[]]},{"id":"76f6aa4e.760964","type":"sqlite","z":"9aa17d60.c8046","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":450,"y":680,"wires":[["3d18dc58.a86904"]]},{"id":"601cbd86.c4e134","type":"ui_dropdown","z":"9aa17d60.c8046","name":"","label":"เลือกสถานี","tooltip":"","place":"Select option","group":"74448f3a.333a6","order":2,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":760,"y":680,"wires":[["d03410d4.24119"]]},{"id":"3d18dc58.a86904","type":"change","z":"9aa17d60.c8046","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"$.payload.fcc_station_name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":680,"wires":[["601cbd86.c4e134"]]},{"id":"1f6ccd62.2d3493","type":"function","z":"9aa17d60.c8046","name":"","func":"var sql = \"\";\nvar outputs = [];\nsql = \"SELECT fcc_station_name FROM fcc_detail group by fcc_sid\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["76f6aa4e.760964"]]},{"id":"d03410d4.24119","type":"function","z":"9aa17d60.c8046","name":"flow set Station_name","func":"flow.get(\"Station_name\");\nflow.set(\"Station_name\",msg.payload);","outputs":1,"noerr":0,"x":960,"y":680,"wires":[[]]},{"id":"fdf2e28b.6769b","type":"ui_button","z":"9aa17d60.c8046","name":"","group":"74448f3a.333a6","order":3,"width":"5","height":"1","passthru":false,"label":"ค้นหา","tooltip":"","color":"","bgcolor":"","icon":"look","payload":"","payloadType":"str","topic":"","x":170,"y":740,"wires":[["a80d4741.05ad08"]]},{"id":"a25ff57d.d80058","type":"inject","z":"9aa17d60.c8046","name":"SELECT * FROM fcc_sales","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["f8d4b608.6b2ce8"]]},{"id":"f8d4b608.6b2ce8","type":"function","z":"9aa17d60.c8046","name":"SELECT fcc_sales_tid","func":"var sql = \"\";\nvar outputs = [];\nsql = \"SELECT fcc_station_name,fcc_pump,fcc_sales_stan,fcc_sales_channal,fcc_sales_nozzle,fcc_sales_amount,fcc_sales_lite,fcc_sales_price,fcc_sales_timestart,fcc_sales_timestop ,fcc_sales_total_v_after,fcc_sales_total_a_after FROM fcc_sales LEFT JOIN fcc_detail ON fcc_sales.fcc_sales_tid = fcc_detail.fcc_tid WHERE fcc_sales_tid='IN190566' and fcc_sales_datestop = '2021-1-3' GROUP BY fcc_sales_id ORDER BY fcc_sales_id DESC\";\noutputs.push({topic:sql});\nreturn [outputs];","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["18652b7b.dac285"]]},{"id":"18652b7b.dac285","type":"sqlite","z":"9aa17d60.c8046","mydb":"e249beb.f5f914","sqlquery":"msg.topic","sql":"","name":"","x":790,"y":340,"wires":[["edfe8cbe.40308"]]}]
